.bg-container {
  background-color: #161624;
  background-size: cover;
  min-height: 110vh;
  color: white;
  font-family: 'roboto';

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.hr {
  color: #334155;
  margin-left: -40px;
}
.first-container {
  border: 2px solid #334155;
  border-radius: 10px;
  list-style-type: none;
  width: 75vw;
  height: 53vh;
  padding-left: -60px;
  background-color: #1f1f2f;

  border-bottom: 0px none transparent;
}

.list-item-container {
  background-color: #1f1f2f;
  height: 45px;
  width: 70vw;
  margin-left: -30px;
  padding-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.visit-button {
  color: white;
  font-family: 'roboto';
  background-color: #3b82f6;
  border: 0px none transparent;
  border-radius: 3px;
  height: 25px;
  width: 55px;
}
.visited-para {
  color: #94a3b8;
  padding-right: 5px;
}
.second-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  flex-wrap: wrap;
  width: 80vw;
  list-style-type: none;
  margin-left: -20px;
}
.flag-list-item {
  margin-right: 10px;
}
.flag-image {
  height: 200px;
  width: 295px;
}
.image-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f2f;
  padding: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
}
.remove-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}
